<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # No reescribir si es un archivo o carpeta real
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Reescribir todas las solicitudes a index.php
    RewriteRule ^(.*)$ index.php?path=$1 [QSA,L]
</IfModule>
